{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Форма просмотра контента</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- start form for validation -->
                    <form id="demo-form" action="/content/create" method="post">
                        {{ form.non_field_errors }}
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>Name:</label>
                            <label class="form-control">{{ contentData.name }}</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>CategoryId:</label>
                            <label class="form-control">{{ contentData.categoryId }}</label>
                        </div>
                        {% csrf_token %}
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <a href="/content" class="btn btn-primary pull-left">Отменить</a>
                            </div>
                        </div>
                    </form>
                    <!-- end form for validations -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}