{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-xs-12">#}
{#            <div class="x_panel">#}
{#                <div class="x_title">#}
{#                    <h2>Форма создания метки</h2>#}
{#                    <div class="clearfix"></div>#}
{#                </div>#}
{#                <div class="x_content">#}
{#                    <!-- start form for validation -->#}
{#                    <form id="demo-form" action="/content/label/create" method="post">#}
{#                        {{ form.non_field_errors }}#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.labelName.errors }}#}
{#                            <label for="{{ form.labelName.id_for_label }}">LabelName:</label>#}
{#                            {{ form.labelName }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.nameUzb.errors }}#}
{#                            <label for="{{ form.nameUzb.id_for_label }}">NameUzb:</label>#}
{#                            {{ form.nameUzb }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.nameRus.errors }}#}
{#                            <label for="{{ form.nameRus.id_for_label }}">NameRus:</label>#}
{#                            {{ form.nameRus }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.nameEng.errors }}#}
{#                            <label for="{{ form.nameEng.id_for_label }}">NameEng:</label>#}
{#                            {{ form.nameEng }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.nameFra.errors }}#}
{#                            <label for="{{ form.nameFra.id_for_label }}">NameFra:</label>#}
{#                            {{ form.nameFra }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">#}
{#                            {{ form.nameEsp.errors }}#}
{#                            <label for="{{ form.nameEsp.id_for_label }}">NameEsp:</label>#}
{#                            {{ form.nameEsp }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12 form-group checkbox">#}
{#                            {{ form.show.errors }}#}
{#                            <label for="{{ form.show.id_for_label }}">Show:</label>#}
{#                            {{ form.show }}#}
{#                        </div>#}
{#                        {{ form.username }}#}
{#                        {{ form.identifier }}#}
{#                        {% csrf_token %}#}
{#                        <div class="ln_solid"></div>#}
{#                        <div class="form-group">#}
{#                            <div class="col-sm-12">#}
{#                                <a href="/content/label" class="btn btn-primary pull-left">Отменить</a>#}
{#                                <button type="submit" class="btn btn-success pull-right">Сохранить</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                    <!-- end form for validations -->#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
